@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: antiquewhite;
    font-family: 'Stack Sans Text', sans-serif;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 68px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

nav ul li {
    padding: 0 12px;
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Stack Sans Notch', sans-serif;
}

.brand img {
    width: 45px;
    margin-right: 8px;
}

.container {
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    margin: 18px auto;
    width: 70%;
    border-radius: 10px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

.songitemcontainer {
    margin-top: 74px;
}

.songItem {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    margin: 10px 0;
    padding: 0 15px;
    border-radius: 35px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.songItem img {
    width: 45px;
    margin-right: 15px;
    border-radius: 20px;
}

.songListPlay {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timestamp {
    font-size: 15px;
}

.songListPlay i {
    font-size: 18px;
    cursor: pointer;
    transition: transform .2s ease;
}

.songListPlay i:hover {
    transform: scale(1.2);
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0 40px;
    z-index: 1000;
}

#myProgressBar {
    width: 80%;
    max-width: 800px;
    margin: 10px auto;
    cursor: pointer;
}

.icons {
    display: flex;
    gap :20px;
    margin-top: 16px;
    font-size: 20px;
    align-items: center;
}

.icons i {
    cursor: pointer;
    transition: transform .2s ease;
}

.icons i:hover {
    transform: scale(1.2);
}

.songinfo {
    position: absolute;
    left: 10vw;
}

.songinfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 42px;
}

